*{
    margin: 0;
}
html{
    scroll-behavior: smooth;
}
.card{
    width:25rem;
}
#intro-logo{
    font-family: "Major Mono Display", serif;
    font-weight: 400;
    font-style: normal;
    color: #ffff;
}
#media-icon{
    font-size: 2rem;
}
#navbar{
    width: 100%;
    position: fixed;
    z-index: 1;
}